.main-container {
  margin: 10.1% auto;
  z-index: -1;
}

.back {
  border-style: ridge;
  border-color: #0d528b;
  border-radius: 10px;
}

.main-container h1,
h3 {
  font-family: "Bree Serif", serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.main-container input {
  font-family: "Bree Serif", serif;
  width: 60%;
  margin: 15px 20%;
}

.main-container label {
  font-family: "Bree Serif", serif;
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 18px;
}

.center {
  padding: 0 40%;
}
.example {
  padding: 40px 10px;
  height: 100%;
}
.example h2 {
  color: blue;
}
.form-control-feedback {
  font-family: "Bree Serif", serif;
  text-align: center;
  color: red;
  margin: 20px 0;
}
.checking {
  color: blue;
}
.space {
  margin-top: 15px;
  color: #2196f3;
  margin-left: 15px;
}
.send {
  background-color: #0d528b;
  color: white;
  margin: 0 45% 15px;
}

@media (max-width: 992px) {
  .control {
    display: none;
  }
}
