<div class="container main-container">
    <div class="row">
        <div class="col m12 back">
            <h1>Recuperación de Contraseña</h1>
            <form [formGroup]="recovery" (ngSubmit)="sendReset()">
            <label >Ingresa tu correo electrónico para el restablecimiento de tu contraseña</label>
            <input [ngClass]="{'is-invalid': !recovery.controls['email'].valid}" 
                   formControlName="email" type="email" class="validate" placeholder="Correo Electrónico">
            <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.correo">
                  <div class="form-control-feedback" *ngIf="recovery.get('email').hasError(validation.type) 
                  && (recovery.get('email').dirty || recovery.get('email').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div> 
            <button type="submit" class="btn btn-primary send" [disabled]="!recovery.valid">Enviar</button>
            </form>
        </div>
    </div>
</div>
