<div class="myMod">
    <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles de padecimiento</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <label class="title">Nombre del padecimiento</label>
    <input type="text"  value="{{padecimiento.nombre_pad}}" disabled>

    <label class="title"></label>
    <label class="title">Categoria del padecimiento</label>
    <input type="text"  value="{{padecimiento.categoria}}" disabled>

    <label class="title"></label>
    <label class="title">Especialización del padecimiento</label>
    <input type="text"  value="{{especialidad}}" disabled>

    <label class="title"></label>
    <label class="title">Descripcion del padecimiento</label>
    <textarea rows="10" disabled>{{padecimiento.descripcion}}</textarea>
    
    <div>
      <label class="title">Imagen</label><br>
      <img class="center" [src]="url">
    </div>
      <br><br>
    <label class="title">Sintomas</label>
    <textarea rows="10" disabled>{{sintomasCadena}}</textarea>
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-secondary cancel" (click)="activeModal.close('Close click')">Volver</button>
    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  type="timer"></ngx-spinner>