.info {
  border: 2px solid #1864a3;
  border-radius: 5px;
  border-style: groove;
  background-color: #2196f3;
  color: white;
  padding: 0;
  text-align: center;
}

.body,
.showdoc,
.devices {
  height: 500px;
  width: 100%;
}

.fonts {
  margin-top: 20px;
  font-family: "Lobster", cursive;
  font-size: 38px;
  color: gold;
}

.fonts-tones {
  font-family: "Bree Serif", serif;
  font-size: 30px;
  padding: 1%;
}

.fonts-tones li {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .info {
    padding: 0 10%;
  }

  .body {
    height: 400px;
    width: 400px;
    margin-top: 30px;
  }

  .col {
    text-align: center;
  }

  .devices {
    height: 200px;
    width: 350px;
    margin-bottom: 30px;
  }

  .showdoc {
    height: 200px;
    width: 400px;
    margin-top: 30px;
  }

  .fonts {
    margin-top: 20px;
    display: block;
    line-height: 38px;
    font-family: "Lobster", cursive;
    font-size: 28px;
    color: gold;
  }

  .fonts-tones {
    font-family: "Bree Serif", serif;
    font-size: 20px;
    padding: 0;
  }
  .fonts-tones li {
    margin-top: 10px;
  }
}

@media(max-width:400px){

  .body {
    height: 400px;
    width: 300px;
    margin-top: 30px;
  }

  .devices {
    height: 200px;
    width: 300px;
    margin-bottom: 30px;
  }

  .showdoc {
    height: 200px;
    width: 300px;
    margin-top: 30px;
  }
}
