<div class="main-container">
  <div class="row">
    <div class="col s12 m7 back" *ngFor="let persona of members">
      <div class="card">
        <div class="card-image">
          <img [src]="persona.url" />
          <span class="card-title">
            {{ persona.nombres }} {{ persona.apellidos }}
          </span>
        </div>
        <div class="card-content">
          <p>{{ persona.carrera }}</p>
        </div>
        <div class="card-action">
          <p>{{ persona.colaboracion }}</p>
        </div>
      </div>
      <div class="col s12 m7 description">
        <h1>Objetivos</h1>
        <p>{{ persona.objetivo }}</p>
        <h1>Sueños</h1>
        <p>{{ persona.sueno }}</p>
        <h1>Pasatiempos</h1>
        <p>{{ persona.pasatiempos }}</p>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="main-container">
  <div class="row">
    <
  </div>
</div> -->
