<div class="row">
  <div class="col-sm-12 color">
    <a>
      <img class="profile-pic" [src]="imagen" alt="profile-pic">
    </a>
    <br>
    <input type="file" accept="image/jpeg" name="profile-pic" id="profile-pic" formclass="pic-select" (change)="createFormData($event)">
  <div>
    <button *ngIf="selectedImg" class="btn btn-outline-primary boton" (click)="actualizarDatos()">
      Cambiar Foto
    </button>
  </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  type="timer"></ngx-spinner>