.main-container {
  overflow-x: hidden;
}

.fonts {
  font-family: "Bree Serif", serif;
}

.mibtn {
  width: auto !important;
}

.btn-option {
  width: 8% !important;
}

.mibtn:hover {
  background-color: #1864a3;
  color: white;
}

.results {
  text-align: center;
  background-color: #2196f3;
  color: white;
}

.sized {
  height: auto;
  border: 2px solid #1864a3;
  border-radius: 5px;
  border-style: groove;
}

.sized h1,
h2,
h3,
h4 {
  margin-top: 15px;
  color: gold;
}

.sized legend {
  color: red;
}

.form-control-feedback {
  color: red;
}

.my-inp {
  color: white;
}

.my-inp::placeholder {
  color: white;
}

.margin-color-main {
  border: 2px solid #1864a3;
  border-radius: 5px;
  border-style: groove;
  text-align: center;
}
.margin-color {
  border: 2px solid #1864a3;
  border-radius: 5px;
  border-style: groove;
  text-align: center;
  background-color: #2196f3;
  color: white;
}

.margin-color h4 {
  color: gold;
}

.margin-color h1 {
  margin: 20px 0;
}

.center {
  border-radius: 10px;
  margin: 10px 0;
  text-align: center;
  color: white;
  background-color: #2196f3;
  font-size: 22px;
}

.center p {
  margin-bottom: 0;
  padding-bottom: 15px;
}

.btn {
  width: 18%;
  margin-left: 5%;
  margin-bottom: 5px;
}

.form-group select {
  width: 30%;
  display: inline-block;
  margin: 30px 0;
}

.sintomas {
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  display: inline-block;
  width: 30%;
  margin: 20px;
}
.sintomas p {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  margin-bottom: 0;
}
.option {
  text-align: center;
  color: white;
  font-size: 32px !important;
}

i {
  color: cornflowerblue;
}

.description {
  color: white;
  margin-left: 10px;
  font-size:15px;
}

.CdkTitle {
  text-align: center;
}

.cdk-drop-draggin .cdk-drag {
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background: rgba(0, 0, 0, 0.2);
}

.point {
  cursor: pointer;
}

.imgcent {
  display: block;
  margin: 0 auto 50px;
}

.imag-div {
  float: left;
}

.cancel {
  margin-bottom: 154px;
  text-align: center;
}

@media (max-width: 560px) {
  .main-container li {
    margin-left: 30px;
  }

  .response {
    margin-left: 30px;
    font-size: 14px;
  }

  .btn {
    font-size: 12px;
    width: auto;
  }

  h3 {
    font-size: 15px;
  }

  .cancel {
    text-align: center;
  }
}
