<div class="myMod">
  <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles de síntoma</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <label class="title">Nombre del síntoma</label>
    <input type="text"  value="{{sintoma.nombre_sint}}" disabled>

    <label class="title"></label>
    <label class="title">Categoria del síntoma</label>
    <input type="text"  value="{{sintoma.categoria_sint}}" disabled>

    <label class="title"></label>
    <label class="title">Nivel de Urgencia del síntoma</label>
    <input type="text"  value="{{sintoma.nivel_urgencia}}" disabled>

    <label class="title"></label>
    <label class="title">Palabra clave del síntoma</label>
    <input type="text"  value="{{sintoma.keyWord}}" disabled>

    <label class="title"></label>
    <label class="title">Zona del síntoma</label>
    <input type="text"  value="{{sintoma.body_zone}}" disabled>

    <label class="title"></label>
    <label class="title">Descripción del síntoma</label>
    <textarea rows="10" disabled>{{sintoma.descripcion}}</textarea>

    <div *ngIf="pregunta!=''">
      <label class="title"></label>
      <label class="title">Pregunta</label>
      <textarea rows="10" disabled>{{pregunta.message}}</textarea>  
    </div>

    <div *ngIf="numeric==true">
      <label class="title"></label>
      <label class="title">Valor de índicio</label>
      <textarea rows="10" disabled>{{pregunta.range}} {{pregunta.valorNum}}</textarea>  
    </div>

    <div *ngIf="urgency_value>=0.4">
      <label class="title"></label>
      <label class="title">Pregunta índice de dolor</label>
      <textarea rows="10" disabled>{{sintoma.index_question}}</textarea>
    </div>

    <div *ngIf="especialidades!=undefined">
      <label class="title">Especialidades</label>
      <ul>
        <li *ngFor="let espe of especialidades">
          {{espe.nombre_esp + ' ' + espe.porcentaje + '%'}} 
        </li>
      </ul>
      </div>

    <div [hidden]="!compuesto">
    <label class="title">Componentes</label>
    <input type="text"  value="{{sintoma.composicion}}" disabled>
    </div>
</div>

<div class="modal-footer" >
  <button type="button" class="btn btn-secondary cancel" (click)="activeModal.close('Close click')">Volver</button>
</div>
</div>
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
type="timer"></ngx-spinner>