<div class="container main-container">

  <div class="row">
    <div class="col m12 s6">
      <h1>Agregar Síntoma</h1>
      <hr>
      <form [formGroup]="sintomas" (ngSubmit)="guardar()">

        <div class="form-group row">
          <div class="col-md-8">
            <input [ngClass]="{'is-invalid': !sintomas.controls['nombre'].valid}" formControlName="nombre"
              class="form-control is-valid" type="text" placeholder="Nombre del Síntoma">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.nombreSint">
                  <div class="form-control-feedback" *ngIf="sintomas.get('nombre').hasError(validation.type) 
                  && (sintomas.get('nombre').dirty || sintomas.get('nombre').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <input [ngClass]="{'is-invalid': !sintomas.controls['keyword'].valid}" formControlName="keyword"
              class="form-control is-valid" type="text" placeholder="Palabra clave">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.keyword">
                  <div class="form-control-feedback" *ngIf="sintomas.get('keyword').hasError(validation.type) 
                  && (sintomas.get('keyword').dirty || sintomas.get('keyword').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <select formControlName="categoria" name="categoria" id="categoria" class="form-control">
              <option value="">Seleccione una Categoría</option>
              <option *ngFor="let item of categorias" [value]="item.nombre">{{item.nombre}}</option>
            </select>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of mensajes_error.categoria">
                <div class="form-control-feedback" *ngIf="sintomas.get('categoria').hasError(validation.type) 
                && (sintomas.get('categoria').dirty || sintomas.get('categoria').touched)">
                <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                </div>
              </ng-container>
          </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <select formControlName="urgencia" name="urgencia" id="urgencia" class="form-control" (change)="indexed()">
              <option value="">Seleccione un nivel de urgencia</option>
              <option *ngFor="let item of nivelesUrgencia" [value]="item.valor">{{item.nombre}}</option>
            </select>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of mensajes_error.urgencia">
                <div class="form-control-feedback" *ngIf="sintomas.get('urgencia').hasError(validation.type) 
                && (sintomas.get('urgencia').dirty || sintomas.get('urgencia').touched)">
                <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                </div>
              </ng-container>
          </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <select formControlName="body_zone" name="body_zone" id="body_zone" class="form-control">
              <option value="">Seleccione la zona a la que pertenece el síntoma</option>
              <option *ngFor="let item of zone_options" [value]="item.body_zone">{{item.body_zone}}</option>
            </select>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of mensajes_error.body_zone">
                <div class="form-control-feedback" *ngIf="sintomas.get('body_zone').hasError(validation.type) 
                && (sintomas.get('body_zone').dirty || sintomas.get('body_zone').touched)">
                <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                </div>
              </ng-container>
          </div>
          </div>
        </div>

        <div class="form-group row">
          <legend class="input-label">Descripción del síntoma</legend>
          <div class="col-md-8">
            <textarea [ngClass]="{'is-invalid': !sintomas.controls['descripcion'].valid}" formControlName="descripcion" 
             class="form-control is-valid descripcion" type="text" placeholder="Descripción"></textarea>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.descripcion">
                  <div class="form-control-feedback" *ngIf="sintomas.get('descripcion').hasError(validation.type) 
                  && (sintomas.get('descripcion').dirty || sintomas.get('descripcion').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-md-8">
            <select formControlName="answerType" name="answerType" id="answerType" class="form-control" (change)="changeType()">
              <option *ngFor="let item of respuestas" [value]="item.tipo">{{item.tipo}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <legend class="input-label">Pregunta para el síntoma <i class="fas fa-question-circle" ngbTooltip="En este campo se puede ingresar la pregunta que verán los usuarios durante el diagnóstico para responder, en caso de no llenarlo esta sera por default ¿Ha tenido nombre del sintoma?"></i></legend>
          <div class="col-md-8">
            <textarea [ngClass]="{'is-invalid': !sintomas.controls['question'].valid}" formControlName="question"
              class="form-control is-valid descripcion" type="text" placeholder="Pregunta"></textarea>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.question">
                  <div class="form-control-feedback" *ngIf="sintomas.get('question').hasError(validation.type) 
                  && (sintomas.get('question').dirty || sintomas.get('question').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="expectsNumericAnswer==true">
          <legend class="input-label">Especificaciones numéricas <i class="fas fa-question-circle" ngbTooltip="Este apartado esta presente solo cuando se elige el tipo numérico en la respuesta que puede dar el usuario para el síntoma"></i></legend>
          <div class="col-md-5">
            <legend class="subtitle">Valor numérico <i class="fas fa-question-circle" ngbTooltip="Este valor es el que el sistema usara para detectar el síntoma, por ejemplo la temperatura"></i></legend>
            <input [ngClass]="{'is-invalid': !sintomas.controls['valorNum'].valid}" formControlName="valorNum"
              class="form-control is-valid" type="text">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.valorNum">
                  <div class="form-control-feedback" *ngIf="sintomas.get('valorNum').hasError(validation.type) 
                  && (sintomas.get('valorNum').dirty || sintomas.get('valorNum').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
          <div class="col-md-5">
            <legend class="subtitle">Rango de valor <i class="fas fa-question-circle" ngbTooltip="Aquí se indica hacia donde son validos los valores de respuesta del usuario, ya sea mayor que o menor que el valor numérico asígnado"></i></legend>
            <select formControlName="rango" name="rango" id="rango" class="form-control">
              <option *ngFor="let item of rangos" [value]="item.nombre">{{item.nombre}}</option>
            </select>
          </div>
        </div>

        <div *ngIf="hasIndex==true" class="form-group row">
          <legend class="input-label">Pregunta índice de dolor <i class="fas fa-question-circle" 
            ngbTooltip="Esta pregunta de igual manera es opcional, la cual permite al usuario indicar del 1 al 10 el índice de molestia del síntoma, al omitirse será por defaul 'En un rango del 1 al 10 que tanta molestia le causa nombre del sintoma'"></i></legend>
          <div class="col-md-8">
            <textarea [ngClass]="{'is-invalid': !sintomas.controls['index_question'].valid}" formControlName="index_question"
              class="form-control is-valid descripcion fromLeft" type="text" placeholder="Pregunta"></textarea>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of mensajes_error.index_question">
                  <div class="form-control-feedback" *ngIf="sintomas.get('index_question').hasError(validation.type) 
                  && (sintomas.get('index_question').dirty || sintomas.get('index_question').touched)">
                  <i class="fas fa-exclamation-circle"></i> {{validation.message}}
                  </div>
                </ng-container>
            </div>
          </div>
        </div>

        <div class="form-row">
          <legend>Especialidades que lo pueden tratar</legend>
          <div class="col">
            
            <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll" >
              <div class="col" cdkDropList [cdkDropListData]="especializaciones" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
                <legend class="CdkTitle">Especialidades</legend>
                <div *ngFor="let espe of especializaciones" class="list" cdkDrag>{{espe.nombre_esp}}</div>
              </div>
            </div>
          </div>

          <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll" >
            <div class="col" cdkDropList [cdkDropListData]="especializacionesSeleccionadas" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
                <legend class="CdkTitle">Especialidades Seleccionadas</legend>
                <div *ngFor="let selected of especializacionesSeleccionadas" class="list" cdkDrag>{{selected.nombre_esp}}
                  <input type="number" min="1" max="100" class="porcentage" (focusout)="setPorcentage(selected,$event.target.value)" (keypress)='validateKey($event)'>%
                </div>
            </div>
          </div>
        </div>
        <div class="validation-errors">
          <div class="form-control-feedback" *ngIf="isEmpty===true">
            <i class="fas fa-exclamation-circle"></i> No deje ninguna especialización sin porcentaje
          </div>
          <div class="form-control-feedback" *ngIf="isNot100===true">
            <i class="fas fa-exclamation-circle"></i> El total de las especializaciones elegidas debe ser 100
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-8">
              <p>
                <label >
                  <input formControlName="compuesto" type="checkbox" (change)="changed($event)"/>
                  <span class="space"> ¿Compuesto? </span>
                </label>
              </p>
          </div>
        </div>

        <div class="form-row" *ngIf="isChecked">
            <legend>Componentes</legend>
            <div class="col">
              
              <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll" >
                <div class="col" cdkDropList [cdkDropListData]="compuestos" [cdkDropListConnectedTo]="secondList" #firstList="cdkDropList" (cdkDropListDropped)="drop($event)">
                  <legend class="CdkTitle">Componentes</legend>
                  <div *ngFor="let comp of compuestos" class="list" cdkDrag>{{comp.nombre_sint}}</div>
                </div>
              </div>
            </div>

            <div class="col" cdk-scrollable style="height: 300px; overflow-y:scroll" >
              <div class="col" cdkDropList [cdkDropListData]="selectedCompuestos" [cdkDropListConnectedTo]="firstList" #secondList="cdkDropList" (cdkDropListDropped)="drop($event)">
                  <legend class="CdkTitle">Componentes Seleccionados</legend>
                  <div *ngFor="let selected of selectedCompuestos" class="list" cdkDrag>{{selected.nombre_sint}}</div>
              </div>
            </div>

          </div>

          

        <button type="submit" class="btn btn-outline-primary boton" [disabled]="!sintomas.valid || !isEmpty===false || !isNot100===false">
          Guardar
        </button>

      </form>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  type="timer"></ngx-spinner>