.boton {
  margin-left: 45%;
}

.main-container {
    border-style: solid;
    border-color: blue;
    border-radius: 10px;

}

.main-container h1{
    color: red;
    text-align: center;
    margin-top: 20px;

}

.main-container label {
  margin-left: 50%;
  color: red;
  font-size: 14px;
}

.main-container input,
select {
  margin-left: 50%;
  width: 50%;
}

.descripcion {
  margin-left: 25% !important;
  width: 100% !important;
}

.form-control-feedback {
  color: red;
  margin-left: 50%;
}

.CdkTitle{
  text-align: center;
}

.cdk-drop-draggin .cdk-drag{
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder{
  background: rgba(0, 0, 0, .2);
}

.porcentage{
  width: 10% !important;
  margin-left: 30% !important; 
}