<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="main-container">
  <div class="back-img">
    <div class="row">
      <div class="col m3 main-container">
        <div class="header-content fonts">
          <h1 class="fonts">Bienvenido a Medic Path</h1>
          <h3>
            El mejor servicio de diagnósticos médicos en línea
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="contenedor">
        <div class="col m12 offers">
          <app-cards></app-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12">
        <img class="banner" [src]="images[1].img" alt="" />
      </div>
    </div>
  </div>

  <app-home-info></app-home-info>

  <div class="main-container">
    <div class="row">
      <div class="col m12 offers">
        <h1>Comprobado por nuestros médicos y pacientes satisfechos</h1>
        <img class="imagen" [src]="images[0].img" alt="" />
      </div>
    </div>
  </div>
</div>
