<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="main-container">
  <div class="back-img">
    <div class="row">
      <div class="col m3 main-container">
        <div class="header-content">
          <h1>Bienvenido a nuestra Página</h1>
          <h3>Somos el mejor servicio de diagnósticos médicos en línea</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 info">
        <h1>Evaluar tus síntomas es muy fácil</h1>
        <ul>
          <li>
            Señala los síntomas utilizando una herramienta didáctica e
            intuitiva.
          </li>
          <li>
            Contamos con presicion del 99% gracias a nuestros algoritmos de
            Inteligencia Artificial
          </li>
          <li>Apoyado y valorado por medicos con mas de 30 años de carrera</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="contenedor">
        <div class="col m12 offers">
          <app-cards></app-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 info">
        <h1>Aqui va otra wea chida</h1>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12">
        <img class="banner" [src]="images[1].img" alt="" />
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 info">
        <h1>Aqui va otra wea chida</h1>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 offers">
        <h1>Comprobado por nuestros medicos y pacientes satisfechos</h1>
        <img class="imagen" [src]="images[0].img" alt="" />
      </div>
    </div>
  </div>
</div>
