<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="main-container">
  <div class="back-img">
    <div class="row">
      <div class="col m3 main-container">
        <div class="header-content">
          <h1>Bienvenido a nuestra Página</h1>
          <h3>Somos el mejor servicio de diagnósticos médicos en línea</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 info">
        <h1>Aqui va otra wea chida</h1>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="contenedor">
        <div class="col m12 offers">
          <app-cards></app-cards>
        </div>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 info">
        <h1>Aqui va otra wea chida</h1>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12">
        <img class="banner" src="/assets/slogan.png" alt="" />
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 info">
        <h1>Aqui va otra wea chida</h1>
      </div>
    </div>
  </div>

  <div class="main-container">
    <div class="row">
      <div class="col m12 offers">
        <h1>Comprobado por nuestros medicos y pacientes satisfechos</h1>
        <img class="imagen" src="/assets/doctores.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
