.margin {
  text-align: center;
  padding: 50px;
  margin: 40px 2%;
  border-style: outset;
  border-radius: 15px;
  border-color: red;
}

.delety{
  float: right;
  margin-right: 6px;
  margin-top: -40px;
  position: relative;
  z-index: 2;
  color:red;
  cursor:pointer;
}

.delety hover{
  cursor:pointer;
}

.ordering {
  cursor: pointer;
}

ul{
  position: absolute;
  width: 100%;
}

ul li {
  border-bottom: 1px solid blue;
  text-decoration: none;
  color: #000;
  display: block;
  background: white;
  -webkit-transition: font-size 0.3 ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3 ease, background-color 0.3s ease;
  -o-transition: font-size 0.3 ease, background-color 0.3s ease;
  transition: font-size 0.3 ease, background-color 0.3s ease;
}

ul li:last-child{
  border: 0;
}

ul li:hover{
  background-color: gray;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  cursor: pointer;
}