
.main-container {
  border-style: outset;
  border-radius: 15px;
  border-color: blue;
  overflow-x: hidden;
}

.main-container input,
select {
  margin-left: 50%;
  width: 50%;
}

.main-container p{
  margin-left: 59%;
}

.align{
  text-align: center;
}
.center {
  padding: 0 40%;
}
.form-control-feedback {
  color: red;
  margin-left: 45%;
}
.checking{
  color: blue;
}
.space {
  margin-top: 15px;
  color: #2196f3;
  margin-left: 15px;
}
.CdkTitle{
  text-align: center;
}

.cdk-drop-draggin .cdk-drag{
  transition: transform 500ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 550ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder{
  background: rgba(0, 0, 0, .2);
}

@media (max-width: 769px){
    .main-container input,
    select {
        margin-left: 27%;
        width: 50%;
      }
    
    .main-container p{
      margin-left: 27%;
    }
}
