<!-- Modal -->
<div class="modal fade trans" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
        <button type="button" (click)="resetModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="login" (ngSubmit)="loginCheck()">
        <div class="modal-body">
          <input class="form-control" formControlName="emailOrNickname" type="email" placeholder="Correo electronico o Nombre de Usuario">
          <input class="form-control" formControlName="logPassword" type="password" placeholder="Contraseña">
          <br>
          <a routerLink="recovery" (click)="resetModal()" data-dismiss="modal" data-toggle="collapse" data-target=".navbar-collapse.show">Recupera tu Contraseña</a>
          <a routerLink="registro" (click)="resetModal()" data-dismiss="modal" data-toggle="collapse" data-target=".navbar-collapse.show">Registrate con Nosotros</a>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="resetModal()" class="btn btn-secondary cancel" data-dismiss="modal" #cerrar>Cancelar</button>
          <button type="submit" class="btn btn-primary send">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  type="timer"></ngx-spinner>
