<div class="myMod">
    <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles del médico</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

    <div>
        <label class="title">Foto de Perfil</label><br>
        <img class="center" style="width:300px;height:200px;" [src]="url">
    </div>

    <label class="title">Nombre del Médico</label>
    <input type="text"  value="{{infoDoc.fullname}}" disabled>
    <label></label>
    <label class="title">Especializaciones del Médico</label>
    <div *ngFor="let especializacion of especializaciones">
        <label class="title" ><br>*{{especializacion.nombre_esp}}<br></label>
    </div>
  <br>
    <label class="title">Telefono de contacto</label>
    <input type="text"  value="{{infoDoc.telefono}}" disabled>
    <label></label>
    <label class="title">Domicilio Consultorio</label>
    <input type="text"  value="{{infoDoc.direccion}}" disabled>

    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-secondary cancel" (click)="activeModal.close('Close click')">Volver</button>
    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  type="timer"></ngx-spinner>