/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';

.main-container {
  margin-top: 40px;
}

.myCustomModalClass {
  left: 0;
  position: fixed;
  top: 0;
  background-color: transparent;
  max-height: 100%;
  box-shadow: none !important;
}

.myCustomModalClass .modal-content {
  padding: 0px !important;
  border-radius: 18px;
}

.card-footer{
  background-color: transparent;
}

.list{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-bottom: 1px;
  border: 1px solid blue;
}

.search {position: relative}
.search input{ text-indent: 30px }
.search .fa-search { 
  position: absolute;
  top: 15px;
  left: 7px;
  font-size: 15px;
  }

[type="radio"]:checked+span::after,
[type="radio"].with-gap:checked+span::after {
  background-color: #2196f3 !important;
}

[type="radio"]:checked+span::after,
[type="radio"].with-gap:checked+span::before,
[type="radio"].with-gap:checked+span::after {
  border: 2px solid #2196f3 !important;
}

.btn.disabled,
.disabled.btn-large,
.disabled.btn-small,
.btn-floating.disabled,
.btn-large.disabled,
.btn-small.disabled,
.btn-flat.disabled,
.btn:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-floating:disabled,
.btn-large:disabled,
.btn-small:disabled,
.btn-flat:disabled,
.btn[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-floating[disabled],
.btn-large[disabled],
.btn-small[disabled],
.btn-flat[disabled]{
    background-color: #00acee !important;
    color: white !important;
}

.upside{
  animation-name: upside;
  -webkit-animation-name: upside;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes upside{
  0%{transform: translateY(-100%);}
  50%{transform: translateY(8%);}
  95%{transform: translateY(-2%)}
  100%{transform: translateY(0%)}
}

.downside{
  animation-name: downside;
  -webkit-animation-name: downside;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes downside{
  0%{transform: translateY(40%);}
  50%{transform: translateY(-5%);}
  65%{transform: translateY(2%);}
  80%{transform: translateY(-2%);}
  95%{transform: translateY(1%)}
  100%{transform: translateY(0%)}
}

.fromLeft{
  animation-name: fromLeft;
  -webkit-animation-name: fromLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fromLeft{
  0%{transform: translateX(150%);}
  50%{transform: translateX(-8%);}
  65%{transform: translateX(4%);}
  80%{transform: translateX(-4%);}
  95%{transform: translateX(2%)}
  100%{transform: translateX(0%)}
}

.fromRight{
  animation-name: fromRight;
  -webkit-animation-name: fromRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fromRight{
  0%{transform: translateX(-150%);}
  50%{transform: translateX(8%);}
  65%{transform: translateX(-4%);}
  80%{transform: translateX(4%);}
  95%{transform: translateX(-2%)}
  100%{transform: translateX(0%)}
}

.fadeIn{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn{
  0%{transform: scale(0); opacity: 0.0;}
  60%{transform: scale(1.1);}
  80%{transform: translateX(0.9); opacity: 1;}
  100%{transform: translateX(1); opacity: 1;}
}