<div class="myMod">
    <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles de la consulta médica</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <label>Fecha de la consulta médica</label>
    <input type="text"  value="{{historial.fecha_consulta}}" disabled>

    <label>Padecimiento resultante</label>
    <input type="text" value="{{historial.nombre_pad}}" disabled>

    <label>Categoria del padecimiento</label>
    <input type="text"  value="{{historial.categoria}}" disabled>

    <label>Especialidad Padecimiento</label>
    <br>
    <legend (click)="activeModal.dismiss('Cross click')" routerLink="/medics/{{historial.nombre_esp}}">{{historial.nombre_esp}}</legend>
    <div>
      <label>Imagen</label><br>
      <img class="center" style="width:300px;height:200px;" [src]="url">
    </div>
      <br><br>
    <label>Sintomas</label>
    <ul>
      <li *ngFor="let sintoma of sintomas">
        {{sintoma}}
      </li>
    </ul>

    <div *ngIf="niveles!=''">
      <ul *ngIf="niveles.Medio.length>0">
          <h5>Sintomas destacados <i class="far fa-question-circle" title="Sintomas que pueden afectar su vida diaria"></i></h5>
          <li *ngFor="let niv of niveles.Medio">
              <p>{{niv.sintoma}}</p>
          </li>
      </ul>
      <ul *ngIf="niveles.Bajo.length>0">
              <h5>Sintomas de baja urgencia <i class="far fa-question-circle" title="Sintomas cuya persistencia por más de 3 días será necesario el checar con un médico"></i></h5>
              <li *ngFor="let niv of niveles.Bajo">
                  <p>{{niv.sintoma}}</p>
              </li>
      </ul>
      <ul *ngIf="niveles.Alto.length>0">
          <h5>Sintomas de alta urgencia <i class="far fa-question-circle" title="Sintomas que por su naturaleza o bien su persistencia se recomienda encarecidamente acudir con un médico"></i></h5>
          <li *ngFor="let niv of niveles.Alto">
              <p>{{niv.sintoma}}</p>
          </li>
      </ul>
      <ul *ngIf="niveles.Severo.length>0">
          <h5>Sintomas de severidad<i class="far fa-question-circle" title="Si presenta alguno de estos sintomas es sumamente necesario el acudir con un especialista con el fin de tratar dicho sintoma, por lo regular requieren estudios."></i></h5>
          <li *ngFor="let niv of niveles.Severo">
              <p>{{niv.sintoma}}</p>
          </li>
      </ul>
      </div>
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-secondary cancel" (click)="activeModal.close('Close click')">Volver</button>
    </div>
</div>
    