<div class="myMod">
    <div class="modal-header">
      <h5 class="modal-title" id="info">Detalles de la consulta médica</h5>
      <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
    <label class="title">Fecha de la consulta médica</label>
    <input type="text"  value="{{historial.fecha_consulta}}" disabled/>

    <label class="title"></label>
    <label class="title">Padecimiento resultante</label>
    <input type="text" value="{{historial.nombre_pad}}" disabled />

    <label class="title"></label>
    <label class="title">Categoria del padecimiento</label>
    <input type="text"  value="{{historial.categoria}}" disabled />

    <div>
      <label class="title">Imagen</label><br>
      <img class="center" style="width:300px;height:200px;" [src]="url">
    </div>
      <br><br>
    <div *ngIf="niveles==''">
    <label class="title">Sintomas</label>
    <ul>
      <li *ngFor="let sintoma of sintomas">
        {{sintoma}}
      </li>
    </ul>
    </div>

    <div *ngIf="niveles!=''">
      <ul *ngIf="niveles.Medio.length>0">
          <h5>Sintomas destacados <i class="far fa-question-circle" ngbTooltip="Sintomas que pueden afectar su vida diaria"></i></h5>
          <li *ngFor="let niv of niveles.Medio">
              <p *ngIf="niv.reason=='' || niv.reason==undefined">{{niv.sintoma}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
              <p *ngIf="niv.reason!='' && niv.reason!=undefined">{{niv.sintoma}} - {{niv.reason}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
          </li>
      </ul>
      <ul *ngIf="niveles.Ninguno.length>0">
        <h5>Sintomas sin urgencia <i class="far fa-question-circle" ngbTooltip="Sintomas que por si solos no presentan peligro alguno a menos que se descuiden por bastante tiempo o bien las afectaciones percibidas hacia la personas sean en exceso"></i></h5>
        <li *ngFor="let niv of niveles.Ninguno">
          <p *ngIf="niv.reason=='' || niv.reason==undefined">{{niv.sintoma}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
          <p *ngIf="niv.reason!='' && niv.reason!=undefined">{{niv.sintoma}} - {{niv.reason}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
        </li>
    </ul>
      <ul *ngIf="niveles.Bajo.length>0">
              <h5>Sintomas de baja urgencia <i class="far fa-question-circle" ngbTooltip="Sintomas cuya persistencia por más de 3 días será necesario el checar con un médico"></i></h5>
              <li *ngFor="let niv of niveles.Bajo">
                <p *ngIf="niv.reason=='' || niv.reason==undefined">{{niv.sintoma}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
              <p *ngIf="niv.reason!='' && niv.reason!=undefined">{{niv.sintoma}} - {{niv.reason}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
              </li>
      </ul>
      <ul *ngIf="niveles.Alto.length>0">
          <h5>Sintomas de alta urgencia <i class="far fa-question-circle" ngbTooltip="Sintomas que por su naturaleza o bien su persistencia se recomienda encarecidamente acudir con un médico"></i></h5>
          <li *ngFor="let niv of niveles.Alto">
            <p *ngIf="niv.reason=='' || niv.reason==undefined">{{niv.sintoma}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
            <p *ngIf="niv.reason!='' && niv.reason!=undefined">{{niv.sintoma}} - {{niv.reason}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
          </li>
      </ul>
      <ul *ngIf="niveles.Severo.length>0">
          <h5>Sintomas de severidad <i class="far fa-question-circle" ngbTooltip="Si presenta alguno de estos sintomas es sumamente necesario el acudir con un especialista con el fin de tratar dicho sintoma, por lo regular requieren estudios."></i></h5>
          <li *ngFor="let niv of niveles.Severo">
            <p *ngIf="niv.reason=='' || niv.reason==undefined">{{niv.sintoma}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
            <p *ngIf="niv.reason!='' && niv.reason!=undefined">{{niv.sintoma}} - {{niv.reason}} <i class="far fa-question-circle" ngbTooltip="{{niv.descripcion}}"></i></p>
          </li>
      </ul>
      </div>

    <div *ngIf="recomendaciones!='' && hasOneSelected==false">
      <label class="title">Especialista consultado</label>
      <label>En caso de ya haber asistido con un médico favor de elegir el especialista que le haya ayudado con su {{historial.nombre_pad}}</label>
      <select  [(ngModel)] = "seleccionado" class="form-control">
        <option value="">Seleccione una Especialidad</option>
        <option *ngFor="let recomendacion of recomendaciones" [value]="recomendacion.espe">{{recomendacion.espe}}</option>
      </select>

      <button type="button" *ngIf="seleccionado!='' || hasOneSelected==false" class="btn btn-secondary save" (click)="actualizar()">Guardar</button>
    </div>  
    <div *ngIf="hasOneSelected==true">
      <label class="title">Especialista consultado</label>
      <input type="text"  value="{{seleccionado}}" disabled />
    </div>
    </div>
    <div class="modal-footer" >
      <button type="button" class="btn btn-secondary cancel" (click)="activeModal.close('Close click')">Volver</button>
    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  type="timer"></ngx-spinner>
    