<footer class="footer-distributed">
  <div class="footer-left">
    <p class="footer-links">
      <a routerLink="home">Inicio</a>
      ·
      <a *ngIf="!isDoctor" routerLink="diagnostico">Diagnóstico</a>
      <span *ngIf="!isDoctor"> · </span>
      <a routerLink="faq">FAQ</a>
      ·
      <a routerLink="about">Acerca de Nosotros</a>
      ·
      <a routerLink="politicas">Políticas de la Página</a>
    </p>

    <p class="footer-company-name">Medic Path &copy; {{ year }}</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fas fa-mobile-alt"></i>
      <p>33 2310 6919</p>
    </div>

    <div>
      <i class="fas fa-envelope"></i>
      <p>
        <a href="mailto:medicpath.services@gmail.com"
          >medicpath.services@gmail.com</a
        >
      </p>
    </div>
  </div>

  <div class="footer-right"></div>
</footer>
